---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <div class="w-full md:w-[518px] m-auto">
      <Hero />
    </div>
  </main>
</Layout>
