---
import Icon from "../assets/embed-svgrepo-com.svg";
import Sun from "../assets/sun.svg";
import Moon from "../assets/moon.svg";
---

<div
  class="sticky top-0 z-10 w-full h-14 md:h-14 pl-4 md:px-0 bg-white/30 dark:bg-zinc-900/30 backdrop-blur-lg"
>
  <div
    class="w-full md:w-[760px] relative h-full m-auto flex items-center justify-between"
  >
    <div class="flex items-center group">
      <a
        class="text-xl md:text-lg dark:text-white font-semibold flex items-center gap-[2px] tracking-tighter"
      >
        <span
          class="fa-solid fa-code group-hover:-rotate-[17deg] transition-all"
        ></span>Amil P A</a
      >
    </div>
    <div class="md:mr-4 flex items-center">
      <div class="hidden md:block dark:text-white">
        <a class="inline hover:underline hover:underline-offset-2">About</a>
        <a class="inline ml-6 hover:underline hover:underline-offset-2"
          >Projects</a
        >
        <a class="inline ml-6 hover:underline hover:underline-offset-2"
          >Contact</a
        >
        <a class="inline ml-6 mr-8 hover:underline hover:underline-offset-2"
          ><span class="fa-brands fa-github mr-1 hidden md:inline"
          ></span>Source</a
        >
      </div>
      <button
        class="toggle relative transition-all duration-300 text-lg bg-blue-500 hover:bg-blue-600 w-[40px] h-[40px] rounded-md"
        ><span
          class="moon-icon absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all fa-solid fa-moon text-white"
        ></span><span
          class="sun-icon absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 transition-all fa-solid fa-sun opacity-0 text-black"
        ></span></button
      >
      <button
        class="hamburger w-[40px] h-[40px] md:hidden mx-2 border-2 border-gray-300 dark:border-gray-700 grid place-items-center active:bg-zinc-200 dark:active:bg-zinc-800 text-black dark:text-white rounded-md"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M4 18h16"></path>
        </svg>
      </button>
      <div
        class="context block md:hidden transition-all absolute top-10 opacity-0 right-2 pointer-events-none"
      >
        <nav
          class="w-44 flex flex-col gap-1 bg-white dark:bg-zinc-900 border-2 border-gray-200 dark:border-gray-800 py-2 text-md dark:text-white rounded-md"
        >
          <a class="px-2 py-1 bg-gray-200 dark:bg-gray-800">About</a>
          <a class="px-2 py-1">Works</a>
          <a class="px-2 py-1">Contact</a>
          <a class="px-2 py-1">Source</a>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>
  const toggle = document.getElementsByClassName("toggle")[0];
  const sun_icon = document.getElementsByClassName("sun-icon")[0];
  const moon_icon = document.getElementsByClassName("moon-icon")[0];
  const hamburger = document.getElementsByClassName("hamburger")[0];
  const context = document.getElementsByClassName("context")[0];

  toggle.addEventListener("click", () => {
    document.documentElement.classList.toggle("dark");
    toggle.classList.toggle("bg-orange-200");
    toggle.classList.toggle("hover:bg-orange-300");
    moon_icon.classList.toggle("opacity-0");
    sun_icon.classList.toggle("opacity-0");
  });
  hamburger.addEventListener("click", () => {
    context.classList.toggle("top-16");
    context.classList.toggle("top-10");
    context?.classList.toggle("opacity-1");
    context?.classList.toggle("pointer-events-auto");
    context?.classList.toggle("opacity-0");
  });

  // remove context menu on click outside
  document.addEventListener("click", (e) => {
    if (!hamburger.contains(e.target as Node)) {
      context.classList.remove("top-16");
      context.classList.add("top-10");
      context?.classList.remove("opacity-1");
      context?.classList.remove("pointer-events-auto");
      context?.classList.add("opacity-0");
    }
  });
</script>
