---
interface Props {
  image: string;
  name: string;
  info: string;
  stack: string;
}

const { image, name, info, stack } = Astro.props;
---

<div
  class="flex gap-2 rounded-md transition-colors border-2 border-gray-400 dark:border-gray-600 hover:border-gray-600 dark:hover:border-gray-400 p-2"
>
  <img src={`..${image}`} alt="" class="h-32 w-40 object-cover" />
  <div>
    <h1 class="text-lg font-medium">{name}</h1>
    <p class="text-sm">{info}</p>
    <p
      class="mt-2 pl-2 rounded-md text-sm text-white dark:text-black font-semibold bg-emerald-600 dark:bg-emerald-200"
    >
      {stack}
    </p>
  </div>
</div>
