<div class="mt-8 dark:text-white">
  <span class="text-xl font-semibold border-b-2 border-black dark:border-white"
    >Skills</span
  >
  <ul class="pl-4 mt-4 list-disc flex flex-col gap-1">
    <li>Frontend - Reactjs,Nextjs,Astro,HTML,CSS</li>
    <li>Backend - Nodejs,Expressjs</li>
    <li>Databases - Mongodb,Postgresql</li>
  </ul>
</div>
